%h1 Clusters
- @clusters.each do |cluster|
  .cluster
    .name #{cluster.name}
    %table.nodes
      - cluster.nodes.each do |node|
        %tr.node
          %td.name= node.name
          %td.ssh_link= link_to('ssh', "ssh://#{node.public_ips.first}")
          - node.public_ips.each do |public_ip|
            %td.public_ip= public_ip