- content_for :javascripts do
  :javascript
    $(document).ready(function(){
        $(".DataTable tr:even").addClass("even");
        $(".DataTable tr:not(.even)").hide();
        $(".DataTable tr:first-child").show();

        $(".DataTable tr.even").click(function(){
            $(this).next("tr").toggle();
            $(this).find(".arrow").toggleClass("up");
        });
    });

.span-24.last
  - @clusters.sort_by {|c| c.name || "" }.each do |cluster|
    .Section
      .SectionHeading
        = cluster.name
      .SectionContent
        %table.cluster.DataTable
          - cluster.nodes.sort_by {|n| n.name }.each do |node|
            %tr.node
              %td.name
                = node.name
              %td.http_link
                = link_to "http", "http://#{node.public_ip}/", :target => "_blank"
              %td.ssh_link= link_to('ssh', "ssh://#{node.public_ip}")
              %td.public_ip= node.public_ip
              %td
                .arrow
            %tr
              %td{:colspan => "6"}
                %ul
                  %li
                    instance id
                    = node.instance_id
