%h1 Clusters
- @clusters.each do |cluster|
  .cluster
    .name #{cluster.name}
    .nodes
      - cluster.nodes.each do |node|
        .node
          .name= node.name
          .ssh_link= link_to('ssh', "ssh://#{node.public_ips.first}")
          - node.public_ips.each do |public_ip|
            .public_ip= public_ip