!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }/

    -#
      Always force latest IE rendering engine (even in intranet) & Chrome Frame
      Remove this if you use the .htaccess
    %meta{ :content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }/

    %meta{ :content => "", :name => "Aether, a cloud management tool" }/
    %meta{ :content => "", :name => "pharmmd" }/

    -# Mobile viewport optimized: j.mp/bplateviewport
    %meta{ :content => "width=device-width, initial-scale=1.0", :name => "viewport" }/
    %title
      = content_for :title

    = render :partial => "layouts/stylesheets"
    = render :partial => "layouts/javascripts"
    = csrf_meta_tags
  %body

    #page-top-outer
      #page-top

        #logo
          = link_to "", image_tag(asset_path("shared/logo.png"))

        #top-search
          %table( border="0" cellpadding="0" cellspacing="0" )
            %tr
              %td
                %input( type="text" value="Search" onblur="if (this.value=='') { this.value='Search'; }" onfocus="if (this.value=='Search') { this.value=''; }" class="top-search-inp")
              %td
                <select  class="styledselect">
                <option value=""> All</option>
                <option value=""> Products</option>
                <option value=""> Categories</option>
                <option value="">Clients</option>
                <option value="">News</option>
                </select>
              %td
                <input type="image" src="#{asset_path "shared/top_search_btn.gif"}"  />
        .clear

    .clear &nbsp;

    .nav-outer-repeat
      .nav-outer
        #nav-right
          .nav-divider
            &nbsp;
          .showhide-account
            %img( src="#{asset_path "shared/nav/nav_myaccount.gif"}" width="93" height="14" alt="")
          .nav-divider
            &nbsp;
          %a#logout( href="")
            %img( src="#{asset_path "shared/nav/nav_logout.gif"}" width="64" height="14" alt="")
          .clear
            &nbsp;


          .account-content
            .account-drop-inner
              Settings
              .clear
                &nbsp;
              .acc-line
                &nbsp;
              Personal details
              .clear
                &nbsp;
              .acc-line
                &nbsp;
              Project details
              .clear
                &nbsp;
              .acc-line
                &nbsp;
              Inbox
              .clear
                &nbsp;
              .acc-line
                &nbsp;
              Statistics

        .nav
          .table
            %ul.select
              %li
                %a( href="#nogo" )
                  %b Dashboard
                .select_sub
                  %ul.sub
                    %li
                      Dashboard Details 1
                    %li
                      Dashboard Details 2
                    %li
                      Dashboard Details 3

            .nav-divider
              &nbsp;

            %ul.current
              %li
                %a( href="#nogo" )
                  %b Clusters
                .select_sub.show
                  %ul.sub
                    %li
                      Cluster Details 1
                    %li
                      Cluster Details 2
                    %li
                      Cluster Details 3

            %ul.select
              %li
                %a( href="#nogo" )
                  %b Nodes
                .select_sub
                  %ul.sub
                    %li
                      Node Details 1
                    %li
                      Node Details 2
                    %li
                      Node Details 3

            %ul.select
              %li
                %a( href="#nogo" )
                  %b Users
                .select_sub
                  %ul.sub
                    %li
                      User Details 1
                    %li
                      User Details 2
                    %li
                      User Details 3

            .clear
              &nbsp;
          .clear
            &nbsp;
        .clear
          &nbsp;
      .clear
        &nbsp;

      #content-outer
        #content
          = yield
        .clear
          &nbsp;
      .clear
        &nbsp;


      #footer
        #footer-left
          Admin Skin &copy; Copyright Internet Dreams Ltd. <span id="spanYear"></span> <a href="">www.netdreams.co.uk</a>. All rights reserved.
      .clear
        &nbsp;