!!!
%html
  %head
    %title Aether
    
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #header
    #main
      = yield
    #footer
      #version
        Aether #{App.version}